
.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar a {
    color: #E7E7E7;
    text-decoration: none;
    margin-right: 25px;
    transition: 0.2s ease-in;
    font-size: 18px;
}

.navbar a:hover {
    color: #FFB48F;
}


